body{
    margin: 0;
    background: grey;

    }
h1{text-align: center;}
h2{text-align: center;}
li{text-align: left;}


.container {
  border-radius: 10px;
  max-width: 90vw;
  display: grid;
  background: white;
  margin:10px auto;
   border: 3px solid rgb(120, 120, 219);
   
}
.container > div {
  background-color:#b0f5f1;
  text-align: center;
}



#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}



header{
  grid-area: header;
  font-size: 30px;
  text-align: center;


}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}